<?xml version="1.0"?>
<launch>
    <!--- Sim Time -->
    <param name="/use_sim_time" value="false"/>

    <node pkg="tf2_ros" type="static_transform_publisher" name="base_base_link_broadcaster" args="0 0 0 0 0 0 base base_link" />

    <!-- Filter the robot structure on the back lslidar points with a "crop box" -->
    <!-- <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" /> -->
    <node pkg="nodelet" type="nodelet" name="crop_box_3" args="load pcl/CropBox pcl_manager" output="screen">
        <remap from="~input" to="rslidar_points" />
        <remap from="~output" to="rslidar_points_filtered" />
        <rosparam>
                min_x: -1.5
                max_x: 0.1
                min_y: -2.0
                max_y: 2.0
                min_z: -2.0
                max_z: 2.0
                keep_organized: false
                negative: false
        </rosparam>
    </node>

    <node pkg="nodelet" type="nodelet" name="crop_box_4" args="load pcl/CropBox pcl_manager" output="screen">
        <remap from="~input" to="rslidar_points" />
        <remap from="~output" to="rslidar_points_filtered_2" />
        <rosparam>
                min_x: -1.5
                max_x: 0.1
                min_y: -2.0
                max_y: 2.0
                min_z: -2.0
                max_z: 2.0 <!--30.0-->
                keep_organized: false
                negative: false
        </rosparam>
    </node>

    <!--- Run Traversability Mapping -->
    <node pkg="traversability_mapping" type="traversability_filter" name="traversability_filter" output="screen"/>
    <node pkg="traversability_mapping" type="traversability_map" name="traversability_map" output="screen"/>
    <node pkg="traversability_mapping" type="traversability_prm" name="traversability_prm" output="screen"/>
    <!-- <node pkg="traversability_mapping" type="traversability_path"    name="traversability_path"    output="screen"/> -->
    
    <!--- Run Move Base -->
    <include file="$(find traversability_mapping)/launch/include/move_base.launch"/>

</launch>
