<launch>

  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="map_wgs84_broadcaster" args="0 0 0 0 0 -1.57 map /wgs84" /> -->

  <node pkg="mapviz" type="mapviz" name="mapviz"></node>

  <node pkg="swri_transform_util" type="initialize_origin.py" name="initialize_origin" >
    <param name="local_xy_frame" value="world"/> 
    <param name="local_xy_origin" value="auto"/>
    <param name="use_sim_time" value="false"/>
    <param name="local_xy_navsatfix_topic" value="/gps_waypoint_nav/gps/filtered"/>
    <rosparam param="local_xy_origins">
      [{ name: swri,
         latitude: 29.45196669,
         longitude: -98.61370577,
         altitude: 233.719,
         heading: 0.0},

       { name: origin_bag,
         latitude: 40.1866670,
         longitude: -8.4177331,
         altitude: 53.421001,
         heading: 0.0}]
    </rosparam>
    <remap from="fix" to="/gps_waypoint_nav/gps/filtered"/>
  </node>

</launch>
