<?xml version="1.0"?>

<launch>

	<arg name="coordinates_file_dir" value="/waypoint_files/points_outdoor.txt" />

  <!-- Run collect_gps_waypoints node -->
  	<node ns="/gps_waypoint_nav" pkg="gps_waypoint_nav" type="collect_gps_waypoints" name="collect_gps_waypoints" output="screen"/>
			<!-- WARNING: This will replace any file in this directory with the same name.-->
			<param name="/gps_waypoint_nav/coordinates_file" value="$(arg coordinates_file_dir)" type="string" />

	<!-- <include file="$(find gps_waypoint_nav)/launch/include/setdatum.launch" /> -->

	<include file="$(find gps_waypoint_nav)/launch/include/localization_run.launch"/>

	<include file="$(find gps_waypoint_nav)/launch/mapviz.launch"/>

	<!-- Signal completion by setting a parameter -->
    <!-- <param name="collect_goals_finished" value="true" /> -->

</launch>
			
