<?xml version="1.0"?>

<launch>

  <!-- Filter the robot structure on the back lslidar points with a "crop box" -->
  <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" />

  <node pkg="nodelet" type="nodelet" name="crop_box" args="load pcl/CropBox pcl_manager" output="screen">
        <remap from="~input" to="rslidar_points" />
        <remap from="~output" to="rslidar_points_filtered" />
        <rosparam>
              min_x: -100.0
              max_x: 100.0
              min_y: -100.0
              max_y: 100.0
              min_z: -2.0
              max_z: 2.0 <!--30.0-->
              keep_organized: false
              negative: false
        </rosparam>
   </node>

    <include file="$(find ig_lio)/launch/lio_velodyne_Bpearl.launch" />

    <include file="$(find elevation_mapping_demos)/launch/go1_elevation.launch" />

    <include file="$(find gps_waypoint_nav)/launch/navigation/gps_waypoint_nav.launch" />

</launch>
